body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Remover barras de rolagem */
}

#felizPascoa {
    text-align: center;
    color: white;
    font-size: 24px;
    animation: scroll 10s linear infinite; /* Animação de rolagem */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#mensagem {
    text-align: center;
    color: white;
}

#imagem {
    width: 50%;
    display: block;
    margin: auto; /* Centraliza horizontalmente */
}
