/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.container {
    margin: 0 20px; /* Adiciona margem esquerda e direita de 20px */
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.coelhinho-img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.start-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.start-button:hover {
    background-color: #45a049;
}

#respostaInput, #enviarResposta {
    display: inline-block;
    vertical-align: middle;
}